
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-5">
          
            <div class="signup">
                <form role="form">
                <h3><span class="label label-primary">Log-in </span></h3><br />
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
                <p class="hthree">Dont Have writer account</p>
  <p><a class="btn btn-primary btn-lg" role="button">Sign with facebook</a></p>

            </div>
  
          </div>
         
          
          
          
          
          
          
          
          
          
          
          
          <div class="col-md-7">
          
          
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="img-thumbnail" src="../images/hello.jpg" alt="...">
      <div class="carousel-caption">
      <h3><span class="label label-primary">Write Together </span></h3><br />
        
    <p>We are a group of serious writers that meet somewhere comfortable</p>
      </div>
    </div>
    <div class="item">
      <img class="img-thumbnail" src="../images/hello.jpg" alt="...">
      <div class="carousel-caption">
      <h3><span class="label label-primary">Work Together </span></h3><br />
        
    <p>Establishing Boundaries During Writing Hours Everything is all set: laptop booted up, pen and paper at hand and a cup of coffee that is still hot. </p>
      </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
          </div>
      </div>
       </div>
  
